.menu{
    background-color:rgb(89, 255, 0);
    display:flex;
    justify-content:space-between;
    font-size:20px;
    font-family:sans-seriff;
    font-weight:400;
    color:black;
}
body{
    background-color:rgb(3, 252, 207);
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
